h1 {
    text-align: center;
    font-size: 10em;
    margin: 0;
}

#hero-toggle {
    position: absolute;
    z-index: 1;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    left: 1em;
    top: 1em;
}

.container {
    margin: 0 auto;
    padding: 1em 20%;
}

.headshot {
    width: 13%;
    border: solid #eeeeeebe 5px;
    border-radius: 10%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url("./assets/images/SF_Hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 10%;
    padding-bottom: 3%;
    /* height: 100%; */
}

.hero-text {
    text-align: center;
    color: white;
}

figure {
    text-align: center;
}

img {
    display: inline-block;
}

body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
}

footer {
    padding: 1em 10% 1em 10%;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
}

footer a {
    color: #000;
    margin: 0 10px;
    border-radius: 20px;
    padding: 5px 10px;
}

footer a:hover {
    background-color: hotpink;

}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 7em;
    }
    .headshot {
        width: 20%;
    }
    .container {
        padding: 1em 10%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 5em;
    }
    .headshot {
        width: 40%;
    }
}

@media screen and (max-width: 420px) {
    footer {
        font-size: 0.8em;
    }
}